.movieCard {
    height: 270px;
    border-radius: 7px;
    box-shadow: 0 1px 1px 1px gray;
    align-self: center;
    justify-self: center;
    min-width: 150px;
    width: 100%;
}
.movieCardPicture {
    background-color: #DFDFDF;
    height: 75%;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.movieTitleRatingDescription {
    padding: 5px;
}
.movieTitleAndRating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.movieTitleAndRating :first-child {
    font-weight: 650;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.movieTitleAndRating :nth-child(2) {
    font-size: 13px;
}
.movieDescription {
    font-size:small;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}