.movieDetailContainer {
    display: flex;
    height: 220px;
}

.moviePicture {
    min-width: 200px;
    height: 220px;
    background-color:darkslategray;
}

.movieDetail {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-between;
}

.movieNameRating {
    display: flex;
}

.movieNameRating :first-child {
    font-weight: 700;
    margin-right: 10px;
}

.movieYearLengthDirector {
    display: flex;
}

.movieYearLengthDirector div{
    margin-right: 5px;
}
.movieCastDetails {
    display: flex;
    font-size: 15px;
}

.movieDetailDescription {
    display: flex;
    font-size: 15px;
}
