.movieDetailContainer {
    display: flex;
    height: 220px;
}

.moviePicture {
    min-width: 200px;
    height: 220px;
    background-color:#DFDFDF;
}

.movieDetail {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.movieNameRating {
    display: flex;
    align-items: center;
}

.movieNameRating :first-child {
    font-weight: 700;
    margin-right: 10px;
}

.movieNameRating :nth-child(2) {
    font-size: 13px;
}

.movieYearLengthDirector {
    display: flex;
}

.movieYearLengthDirector div{
    margin-right: 5px;
}
.movieCastDetails {
    display: flex;
    font-size: 15px;
}

.movieDetailDescription {
    display: flex;
    font-size: 15px;
}
