.searchInput {
  position: relative;
}
.searchIcon {
  position: absolute;
  padding: 8px;
  pointer-events: none;
}
input {
  min-width: 100px;
  width: 500px;
  height: 35px;
  border-radius: 8px;
  background-color: #dfdfdf;
  border: none;
  padding-left: 45px;
}
input:focus {
  outline: none;
}
